.video-overlay {
    background: linear-gradient(to right, rgba(5, 4, 4, 0) 0%, rgba(5, 4, 4, 1) 100%);
}

@media (max-width: 1024px) {
    .video-overlay {
        background: linear-gradient(to top, rgba(5, 4, 4, 1) 15%, rgba(5, 4, 4, 0) 100%);
    }
}

.custom-checkbox {
    appearance: none;
    background-color: #1a1515;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid #333;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.custom-checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #d4af37;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.custom-checkbox:checked::before {
    transform: scale(1);
}

.custom-checkbox:checked {
    border-color: #d4af37;
}

.video-overlay-signin {
    background: linear-gradient(
        to left,
        rgba(5, 4, 4, 0) 0%,
        rgba(5, 4, 4, 0.3) 50%,
        rgba(5, 4, 4, 1) 95%
      );
}

@media (max-width: 1024px) {
    .video-overlay-signin {
      background: linear-gradient(
        to top,
        rgba(5, 4, 4, 1) 15%,
        rgba(5, 4, 4, 0.5) 60%,
        rgba(5, 4, 4, 0) 100%
      );
    }
  }