name: Cypress E2E Tests 

on:
  push

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress Install
        uses: cypress-io/github-action@v6
        with:
          runTests: false
          build: npm run build:client 

      - name: Save build folder 
        uses: actions/upload-artifact@v4
        with:
          name: dist 
          if-no-files-found: error
          path: amor-fati/dist

  cypress-run:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout 
        uses: actions/checkout@v4 

      - name: Download build folder
        uses: actions/download-artifact@v4
        with:
          name: dist 
          path: amor-fati/dist

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm run client:preview & wait-on http://localhost:5173 
          record: true
    
